html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

canvas {
  position: absolute;
  width: 100% !important;
  height: auto !important;
  z-index: -1;
}

.menu {
  width: 100% !important;
  height: 30px !important;
  /* background-color: #ffffff; */
  top: 15px;
  padding-left: 20px;
  position: absolute;
  font-family: sans-serif;
  font-size: 20px;
  z-index: 1;
}
