html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

canvas {
  position: fixed;
  width: auto !important;
  height: 100% !important;
}

@media only screen and (min-width: 701px) {
  ul#menuitem li {
    display: inline;
    /* padding-right: 40px; */
    padding: .25em;
    padding-left: .45em;
    padding-right: .45em;
    background-color: #fff;
    margin: 0px !important;
    font-weight: bold;
  }
  ul {
    margin-block-start: 0em !important;
  }
}
.menu {
  width: auto !important;
  height: 30px !important;
  top: 15px;
  right: 15px;
  position: fixed;
  font-family: sans-serif;
  font-size: 20px;
  z-index: 1;
}

.logo {
  height: 30px !important;
  top: 15px;
  left: 15px;
  position: fixed;
  font-family: sans-serif;
  font-size: 20px;
  z-index: 1;
}

.bg {
  position: fixed;
  width: 100% !important;
  height: 100% !important;
  background-color: #ccf0fd;
  z-index: -1;
}

.description {
  position: relative;
  width: 100% !important;
  height: auto !important;
  background-color: #ccf0fd;
}

.menu a {
  color: #000;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: none;
  color: #ce3b43;
}

@media only screen and (max-width: 700px) {
  .logo {
    width: 80% !important;
    height: 80px !important;
    top: 15px;
    left: 15px;
    position: fixed;
    font-family: sans-serif;
    font-size: 20px;
    z-index: 1;
  }

  ul#menuitem li {
    display: inline;
    /* padding-right: 40px; */
    padding: .25em;
    padding-left: .45em;
    padding-right: .45em;
    background-color: #fff;
    margin: 0px !important;
    font-weight: bold;
  }

  ul {
    margin-block-start: 0em !important;
  }

  .logo img {
    max-width: 100px;
  }
}
